<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header-basic" class="container-fluid my-4">

    <!-- 로그인(로그아웃, 마이페이지) -->
    <div class="container d-flex justify-content-end">
        <a href="#">로그인</a>
    </div>

    <!-- 로고 -->
    <div class="container">
        <div class="logo"></div>
    </div>

    <!-- 네비바 -->
    <nav class="container-fluid navbar navbar-expand-lg border-bottom mt-5">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-1g-0">
                    <li class="nav-item mx-3">
                        <a class="nav-link active fs-3" href="#">홈</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active fs-3" href="#">식품</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active fs-3" href="#">내 식단</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
</body>
</html>