<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>

    </style>

    <script>
        $(document).ready(function (){
            // 초기화 버튼
            $('#btn-reset').on("click", function (){
                location.href = "/foodMonths.do";
            })

            // 검색 버튼, 검색은 2가지 방법이 있음(월만 입력, 검색어만 입력)
            $('#btn-search').on("click",function (){
                const foodName = $('#foodName').val();
                const month = $('#select-months').val();

                $.ajax({
                    url:"/foodMonths.do",
                    type: 'POST',
                    data: {fd_Nm: foodName, foodMMonth: month, Page_No : 1, Page_Size : 5},
                    success: function (data){

                        // Map 방식으로 받아서 데이터를 받아옴
                        const foodAPIList = data.foodAPIList;
                        const foodDBList = data.foodDBList;

                        // 레시피 중복 확인을 위한 리스트
                        let confirmDu = new Array();
                        var dulplicationConfirm = false;


                        // 검색 했을 때 이미 전에 검색했던 것 삭제
                        const p = $('#btn-result > p');
                        p.empty();

                        const p1 = $("#btn-recipeResult > p")
                        p1.empty();

                        let tag = "";

                        // 방법 1. 검색어가 없을 때(foodName == '')
                        if(foodName == ''){
                            tag += "<h1>" + month + "의 식재료</h1>"
                        }else{
                            tag += "<h1>'" + foodName + "'의 식재료 검색 결과</h1>"
                        }

                        for(let i = 0; i < foodDBList.length; i++){
                            // foodDBList의 db를 검색하는 리스트에 month값을 받아온게 없으면
                            if(foodDBList[i].foodMMonth == null){
                                tag += "<p>" + foodDBList[i].foodMName + "</p>";
                            }else{
                                tag += "<p>" + "<span>[" + foodDBList[i].foodMMonth +"]</span>" + foodDBList[i].foodMName + "</p>";
                            }
                        }

                        if(foodName == ''){
                            tag += "<h1>" + month + "의 레시피</h1>"
                        }else{
                            tag += "<h1>'" + foodName + "'의 레시피 검색 결과</h1>"
                        }``

                        // 여라가지 재료가 나왔을 경우 재료의 모든 레시피를 가져오기 위해서 이중 리스트 사용
                        // 이중 리스트는 [][]으로 표현, 2차원 배열 같은 것으로 인식
                        for(let i = 0; i < foodAPIList.length; i++){
                            if(foodAPIList[i] != null){
                                for(let j = 0; j < foodAPIList[i].length; j++){
                                    for(let k = 0; k < confirmDu.length; k++){
                                        if(foodAPIList[i][j].fd_Code == confirmDu[k]){
                                            dulplicationConfirm = true;
                                        }
                                    }
                                    if(dulplicationConfirm == false){
                                        // tag += "<p><a class='info' th:value='${foodName}'>" + foodAPIList[i][j].ckry_Nm + "</a></p>";
                                        tag += "<p><a class='info'>" + foodAPIList[i][j].fd_Nm + "</a></p>";
                                        confirmDu.push(foodAPIList[i][j].fd_Code);
                                    }
                                    dulplicationConfirm = false;
                                }
                            }
                        }

                        p.append(tag);

                        // 레시피를 클릭했을 때
                        onRecipeEvent();
                    },
                    error: function(){
                        alert("서버와 통신 중 오류가 발생했습니다.");
                    }
                });
            });
        });

        function onRecipeEvent() {
            $(".info").on("click", function () {
                const foodName = $(this);

                // 같은 주소를 불러오므로 같은 data를 매개변수로 사용한다.
                $.ajax({
                    url:"/foodMonths.do",
                    type: 'POST',
                    data: {fd_Nm: foodName.text(), foodMMonth: '1월', Page_No : 1, Page_Size : 5},
                    success : function (data) {
                        
                        const foodAPIList = data.foodAPIList;

                        const p1 = $("#btn-recipeResult > p")
                        p1.empty();

                        let pRecipe = "";

                        if(foodAPIList[0] != null){
                            pRecipe += "<p>"+ foodAPIList[0][0].fd_Nm + " 조리 방법 : " + foodAPIList[0][0].ckry_Sumry_Info + "</p>";
                            pRecipe += "<div class='d-flex'><p> 재료 : </p>";

                            for (let i = 0; i < (foodAPIList[0][0].foodList.foodList).length; i++) {
                                if(i == 0){
                                    pRecipe += "<p> (" + foodAPIList[0][0].foodList.foodList[i].food_Nm + ")</p>";
                                }else{
                                    pRecipe += "<p>, (" + foodAPIList[0][0].foodList.foodList[i].food_Nm + ")</p>";
                                }
                            }
                        }

                        pRecipe += "</div>";

                        p1.append(pRecipe);
                    },
                    error : function () {
                        alert("서버와 통신 중 오류가 발생했습니다.");
                    }
                })
            });
        }
    </script>
</head>
<body>
<div class="container my-3">
    <div class="row d-flex justify-content-start">
        <div class="col-sm-5 d-flex">
            <div class="col-sm-5 justify-content-center">
                <label for="foodName" class="form-label">식재료 및 레시피</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="foodName" name="foodName">
            </div>
        </div>
        <div class="col-sm-1">
            <select class="form-select form-select-sm" id="select-months">
                <option th:value="'1월'">1월</option>
                <option th:value="'2월'">2월</option>
                <option th:value="'3월'">3월</option>
                <option th:value="'4월'">4월</option>
                <option th:value="'5월'">5월</option>
                <option th:value="'6월'">6월</option>
                <option th:value="'7월'">7월</option>
                <option th:value="'8월'">8월</option>
                <option th:value="'9월'">9월</option>
                <option th:value="'10월'">10월</option>
                <option th:value="'11월'">11월</option>
                <option th:value="'12월'">12월</option>
            </select>
        </div>
        <div class="col-sm-2">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-2" id="btn-search">검색</button>
                <button type="reset" class="btn btn-primary" id="btn-reset">초기화</button>
            </div>
        </div>
    </div>
    <div id="btn-result">
        <p></p>
    </div>
    <div id="btn-recipeResult">
        <p></p>

        <div class="d-flex">

        </div>
    </div>
</div>
</body>
</html>