<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>

    </style>

    <script>
        $(document).ready(function (){
            $('#btn-reset').on("click", function (){
                location.href = "/foodMonths.do";
            })

            $('#btn-search').on("click",function (){
                const foodName = $('#foodName').val();
                const month = $('#select-months').val();

                $.ajax({
                    url:"/foodMonths.do",
                    type: 'POST',
                    data: {fd_Nm: foodName, foodMMonth: month, Page_No : 1, Page_Size : 5},
                    success: function (data){

                        const foodAPIList = data.foodAPIList;
                        const foodDBList = data.foodDBList;

                        const p = $('#btn-result > p');
                        p.empty();

                        let tag = "";

                        if(foodName == ''){
                            tag += "<h1>" + month + "의 식재료</h1>"
                        }else{
                            tag += "<h1>'" + foodName + "'의 식재료 검색 결과</h1>"
                        }

                        for(let i = 0; i < foodDBList.length; i++){
                            if(foodDBList[i].foodMMonth == null){
                                tag += "<p>" + foodDBList[i].foodMName + "</p>";
                            }else{
                                tag += "<p>" + "<span>[" + foodDBList[i].foodMMonth +"]</span>" + foodDBList[i].foodMName + "</p>";
                            }
                        }

                        if(foodName == ''){
                            tag += "<h1>" + month + "의 레시피</h1>"
                        }else{
                            tag += "<h1>'" + foodName + "'의 레시피 검색 결과</h1>"
                        }``

                        for(let i = 0; i < foodAPIList.length; i++){
                            if(foodAPIList[i] != null){
                                for(let j = 0; j < foodAPIList[i].length; j++){
                                    // tag += "<p><a class='info' th:value='${foodName}'>" + foodAPIList[i][j].ckry_Nm + "</a></p>";
                                    tag += "<p><a class='info'>" + foodAPIList[i][j].fd_Nm + "</a></p>";
                                }
                            }
                        }

                        p.append(tag);

                        onRecipeEvent();
                    },
                    error: function(){
                        alert("서버와 통신 중 오류가 발생했습니다.");
                    }
                });
            });
        });

        function onRecipeEvent() {
            $(".info").on("click", function () {
                const foodName = $(this);

                $.ajax({
                    url:"/foodMonths.do",
                    type: 'POST',
                    data: {fd_Nm: foodName.text(), foodMMonth: '1월', Page_No : 1, Page_Size : 5},
                    success : function (data) {
                        
                        const foodAPIList = data.foodAPIList;

                        const p1 = $("#btn-recipeResult > p")
                        p1.empty();

                        let pRecipe = "";

                        if(foodAPIList[0] != null){
                            pRecipe += "<p>" + foodAPIList[0][0].ckry_Sumry_Info + "</p>";

                            for (let i = 0; i < (foodAPIList[0][0].foodList.foodList).length; i++) {
                                pRecipe += "<p>" + foodAPIList[0][0].foodList.foodList.food_Nm + "</p>";
                            }
                        }

                        p1.append(pRecipe);
                    },
                    error : function () {
                        alert("통신 에러");
                    }
                })
            });
        }
    </script>
</head>
<body>
<div class="container my-3">
    <div class="row d-flex justify-content-start">
        <div class="col-sm-5 d-flex">
            <div class="col-sm-5 justify-content-center">
                <label for="foodName" class="form-label">식재료 및 레시피</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="foodName" name="foodName">
            </div>
        </div>
        <div class="col-sm-1">
            <select class="form-select form-select-sm" id="select-months">
                <option th:value="'1월'">1월</option>
                <option th:value="'2월'">2월</option>
                <option th:value="'3월'">3월</option>
                <option th:value="'4월'">4월</option>
                <option th:value="'5월'">5월</option>
                <option th:value="'6월'">6월</option>
                <option th:value="'7월'">7월</option>
                <option th:value="'8월'">8월</option>
                <option th:value="'9월'">9월</option>
                <option th:value="'10월'">10월</option>
                <option th:value="'11월'">11월</option>
                <option th:value="'12월'">12월</option>
            </select>
        </div>
        <div class="col-sm-2">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-2" id="btn-search">검색</button>
                <button type="reset" class="btn btn-primary" id="btn-reset">초기화</button>
            </div>
        </div>
    </div>
    <div id="btn-result">
        <p></p>
    </div>
    <div id="btn-recipeResult">
        <p></p>
    </div>
</div>
</body>
</html>